body{
    background-color: blanchedalmond;
}

#flex-container{
    /* We first create a flex layout content */
    display: flex; 
    /* same as
    * flex-direction: row;
    * flex-wrap: nowrap;
    */
    flex-flow: row wrap;
    /* Now is how we distribute the remaining space */
    justify-content:right;
    margin: 10px;
    list-style: none;

}

.flex-item{
    display: flex;
    align-items: center;
    margin-right: 20px;
    font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;

}

.circle-box1{
    height: 4px;
    width: 4px;
    margin: 12px 40px 12px 10px;
    background:gray;
    border-radius: 50%;
    box-shadow: 6px 0 gray, 12px 0 gray, 
                0 6px gray, 6px 6px gray, 12px 6px gray,
                0 12px gray, 6px 12px gray, 12px 12px gray;
}

.login-input{
    font-size: 14px;
    background-color: #2b7de9;
    color: white;
    text-decoration: none;
    padding: 10px 30px 10px 30px;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-right: 20px;
}

#logo{
    display: block;
    margin: auto;
    margin-top: 15%;
    width: auto;
}

#search-box{

}

#search-box{
    width: 40em;
    height: 45px;
    border: 1px solid #ccc;
    background-color: white;
    box-sizing: border-box;
    border-radius: 50px;
    font-size: 16px;
    margin: 10px 50% 10px 31%;
    /*padding: 12px 20px 12px 40px;
    background-image: url('searchicon.png')*/;

}
